# Dependency directories
node_modules/
dist/
.next/
out/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log

# IDE files
.vscode/
.idea/
.DS_Store

# Next.js build cache
.next/
.server/
